.ask-google {
  margin: 0 25px;
  width: 100%;
}
.ask-google__form {
  display: flex;
  justify-content: center;
}
.ask-google-input {
  width: 65%;
  height: 35px;
  background-color: var(--link-bg);
  border: 1px solid var(--link-border);
  border-width: 1px 0 1px 1px;
  padding: 10px;
  outline: transparent;
  color: var(--modal-font-color);
}
.ask-google-submit {
  height: 35px;
  width: 15%;
  background-color: var(--link-bg);
  border: 1px solid var(--link-border);
  color: var(--modal-font-color);
  cursor: pointer;
}

.ask-google-submit:hover {
  background-color: var(--link-border);
}