.bookmark-list-wrapper {
  padding: 0 90px;
  display: flex;
  justify-content: center;
}
.bookmark-list {
  list-style-type: none;
  max-height: 200px;
  overflow-y: scroll;
  width: 100%;
  padding: 0;
}
.bookmark-list::-webkit-scrollbar {
  background-color: var(--link-bg);
  width: 10px;
  border-radius: 3px;
}
.bookmark-list::-webkit-scrollbar-thumb {
  background-color: var(--link-border);
  border-radius: 3px;
}
.bookmark-link {
  margin: 10px 0;
  background-color: var(--link-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  min-height: 40px;
  cursor: pointer;
}
.link-alias {
  padding-right: 15px;
}
.bookmark-link a {
  color: var(--modal-font-color);
}
.bookmark-delete {
  background-color: var(--link-bg);
  border: 1px solid var(--link-border);
  cursor: pointer;
}