.single-link-wrapper {
  width: fit-content;
  text-align: center;
  margin: 30px 10px;
  position: relative;
  max-width: 68px;
}

.single-link {
  width: var(--link-size);
  height: var(--link-size);
  padding: 10px;
  background-color: var(--link-bg);
  border-radius: 50%;
  border: 2px solid var(--link-border); 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 250ms;
  cursor: pointer;
}
.single-link:hover {
  background-color: var(--link-border);
}
.single-link:hover > .single-link__img {
  opacity: 1;
}
.single-link-fovurite {
  border: 2px solid rgb(83, 101, 220)
}
.fovourite-sign {
  position: absolute;
  top: -14px;
}
.single-link > .single-link__img {
  width: 100%;
  height: auto;
  opacity: .75;
  transition: opacity ease-in-out 250ms;
}

.single-link__img--default {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 50px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

.single-link-name {
  display: block;
  margin-top: 5px;
  height: 2.2em;
  overflow: hidden;
  width: 100%;
  transition: height ease-in-out 250ms;
  position: absolute;
}
.single-link-wrapper:hover .single-link-name {
  height: 4em;
  position: absolute;
}

.link-btn {
  background-color: var(--link-bg);
  color: var(--modal-font-color);
  border: 2px solid var(--link-border);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  border-radius: 50%;
  cursor: pointer;
}
.link-btn--delete {
  right: 0;
  top: -7px;
}
.link-btn--edit {
  left: 0;
  top: -7px;
}
.link-btn--favourite {
  bottom: 0;
  left: 0;
}

.editing {
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
}

.editing-1 {
  animation-name: editing-1;
}

.editing-2 {
  animation-name: editing-2;
}

@keyframes editing-1 {
  0% { transform: translateY(2px) }
  50% { transform: translateY(-2px) }
  100% { transform: translateY(2px); }
}

@keyframes editing-2 {
  0% { transform: translateY(-2px) }
  50% { transform: translateY(2px) }
  100% { transform: translateY(-2px); }
}