:root {
  --link-size: 65px;

  --app-bg: rgb(100, 47, 166);
  --link-bg: rgba(0, 0, 0, 0.35);
  --link-border: rgba(0, 0, 0, 0.55);
  --modal-bg: rgb(100, 47, 166);
  --modal-font-color: rgba(255, 255, 255, 0.6);
  --modal-input-bg: rgba(0, 0, 0, 0.4);
  --z-index-max: 100;
}

.App {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
